<div class="jumbotron text-center">
  <p class="lead"> Welcome To</p>
  <h1>
    {{title}}
  </h1>
  <div>
    <form (submit)="onSubmitingLocation()">
      <div class="form-group">
        <label>Enter Name of the city</label>
        <div class="form-horizontal" id="forminline">
          <input type="text" [(ngModel)]="location" name="location" style="width:240px;height:40px;">
          <input type="submit" class="btn btn-primary" value="Click For Weather Info">
        </div>
      </div>
    </form>
  </div>
</div>
<div class="container">
  <h1 *ngIf="weatherInfo.nearestArea" class="city">Nearest Area: {{weatherInfo.nearestArea}}</h1>
  <div *ngIf="weatherInfo.weather" class="cardOuter" [style.background-image]="backgroundUrl" (click)="showWeatherChart()">
    <ul class="list-inline">
      <li><img src="http://svgshare.com/i/1fN.svg" alt="" /></li>
      <li>{{weatherInfo.weather[0].astronomy[0].sunrise}}</li>
    </ul>
    <ul class="list-inline">
      <li><img src="http://svgshare.com/i/1fu.svg" alt="" /></li>
      <li>{{weatherInfo.weather[0].astronomy[0].moonrise}}</li>
    </ul>
    <h1>{{weatherInfo.weather[0].date}}</h1>
    <div class="date">
      <ul class="list-inline">
        <li><img src="../assets/SVG/Thermometer-75.svg"></li>
        <li><p id="infoTemp">{{weatherInfo.current_temp}}&deg;C</p></li>
        <li><img src="../assets/SVG/Compass.svg"></li>
        <li><p id="infoDir">{{weatherInfo.wind_dir}}&deg;</p></li>
        <li><img src="../assets/SVG/Wind.svg"></li>
        <li><p id="infoSpeed">{{weatherInfo.wind_speed_kmph}} KMPH</p></li>
      </ul>
    </div>
    <div class="city">
      <ul class="list-inline">
        <li><img [src]="iconSrc"></li>
        <li><p>{{infoText}}</p></li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div *ngFor="let item of weatherInfo.weather" class="col-md-6" (click)="showWeatherChart()">
      <div>
        <div class="card" [style.background-image]="backgroundUrl">
          <ul class="list-inline">
            <li><img src="http://svgshare.com/i/1fN.svg" alt=""/></li>
            <li>{{item.astronomy[0].sunrise}}</li>
          </ul>
          <ul class="list-inline">
            <li><img src="http://svgshare.com/i/1fu.svg" alt=""/></li>
            <li>{{item.astronomy[0].moonrise}}</li>
          </ul>
          <h1>{{item.date}}</h1>
          <ul class="date">
            <li><h3>{{item.mintempC}}&deg;C</h3></li>
            <li><h3>{{item.maxtempC}}&deg;C</h3></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>



