<div class="jumbotron text-center">
  <p class="lead"> Welcome To</p>
  <h1>
    {{title}}
  </h1>
  <div id="form-div">
    <form (submit)="onSubmitingLocation()">
      <div class="form-group">
        <label>Enter Name of the city</label>
        <div class="form-horizontal" id="forminline">
          <input type="text" [(ngModel)]="location" name="location" style="width:240px;height:40px;" (keydown)="hideLocationLabel()">
          <input type="submit" class="btn btn-primary" value="Click For Weather Info">
        </div>
      </div>
    </form>
  </div>
  <div id="afterSearch"><label>Results showing for:</label><h2>{{location}}</h2></div>
</div>
<router-outlet></router-outlet>



