<div class="container">
  <div class="jumbotron text-center">
    <p class="lead"> Welcome To</p>
    <h1>
      {{title}}
    </h1>
    <div>
      <form (submit)="onSubmitingLocation()">
        <div class="form-group">
          <label>Enter Name of the city</label>
          <div class="form-horizontal" id="forminline">
            <input type="text" [(ngModel)]="location" name="location" style="width:240px;height:40px;">
            <input type="submit" class="btn btn-primary" value="Click For Weather Info">
          </div>
        </div>
      </form>
    </div>
  </div>
  <h1 *ngIf="weatherInfo.nearestArea" class="city">Nearest Area: {{weatherInfo.nearestArea}}</h1>
  <div *ngIf="weatherInfo.weather" class="cardOuter" style="background-image: url('https://picoolio.net/images/2017/05/21/01f54bc.png');">
    <ul class="list-inline">
      <li><img src="http://svgshare.com/i/1fN.svg" alt="" /></li>
      <li>{{weatherInfo.weather[0].astronomy[0].sunrise}}</li>
    </ul>
    <ul class="list-inline">
      <li><img src="http://svgshare.com/i/1fu.svg" alt="" /></li>
      <li>{{weatherInfo.weather[0].astronomy[0].moonrise}}</li>
    </ul>
    <h1>{{weatherInfo.weather[0].date}}</h1>
    <div class="date">
      <h2><i class="wi wi-night-sleet"></i>{{weatherInfo.current_temp}}&deg;C</h2>
      <h2><i class="wi wi-night-sleet"></i>{{weatherInfo.wind_dir}}&deg;</h2>
      <h2><i class="wi wi-night-sleet"></i>{{weatherInfo.wind_speed_kmph}} KMPH</h2>
    </div>
    <p class="city">{{weatherInfo.current_condition}}</p>
  </div>
  <div class="row">
    <div *ngFor="let item of weatherInfo.weather" class="col-md-6">
      <div *ngIf="item !== weatherInfo.weather[0] && item !== weatherInfo.weather[13]">
        <div class="card" style="background-image: url('https://picoolio.net/images/2017/05/21/01f54bc.png');">
          <ul class="list-inline">
            <li><img src="http://svgshare.com/i/1fN.svg" alt=""/></li>
            <li>{{item.astronomy[0].sunrise}}</li>
          </ul>
          <ul class="list-inline">
            <li><img src="http://svgshare.com/i/1fu.svg" alt=""/></li>
            <li>{{item.astronomy[0].moonrise}}</li>
          </ul>
          <h1>{{item.date}}</h1>
          <div class="date">
            <h3>{{item.mintempC}}&deg;C</h3>
            <h3>{{item.maxtempC}}&deg;C</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


