
.next-page {
  height: 30px;
  animation-name: header-H2N;
  animation-duration: 1s;

  p.lead {
    display: none;
  }

  div#form-div {
    display: none;
  }

  h1 {
    font-size: 38px;
    display: inline-block;
    margin-top: -23px;
    margin-left: -500px;
  }
  #afterSearch{
    float:right;
    text-align:justify;
    padding-right:125px;
    margin-top: -10px;
    label{
      font-size:20px;
    }
    h2{
      margin-left: 205px;
      margin-top: -37px;
    }
  }

}

.hide{
  display: none;
}
.show{
  display: inline-block;
}

@keyframes header-H2N {
  from {
    height: 250px;
  }
  to {
    height: 30px;
  }
}
